---
- name: "update apt packages"
  become: yes
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: yes
  apt:
    upgrade: yes

- name: "Remove dependences that are no longer required"
  become: yes
  apt:
    autoremove: yes

- name: "Add python to to server"
  become: yes
  apt:
    name: 
      - python3
    state: latest
    update_cache: yes

- name: install rsync on the ansible controller
  become: yes
  shell:
    yum install rsync -y

- name: "install other dependencies" 
  become: yes
  apt:
    name: 
      - rsync
      - nodejs
      - npm
    state: latest
    update_cache: yes
  
- name: "install pm2"
  become: yes
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

